body {
	padding-top: 50px;
}

#navbar {
	background-color: #800000;
}
#text {
	background-color: #000000;
	color: #FFFFFF;
}

#background-image {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 600px;
	background-image: url(../Images/background1.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: top center;
	background-attachment: fixed;
}

#image-1 {
	position: absolute;
	width: 100%;
	height: 350px;
	background-image: url(../Images/index.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: auto 200px;
	top: -100px;
	left: 0px;
}

#image-2 {
	position: absolute;
	width: 100%;
	height: 190px;
	background-image: url(../Images/ecommerce.jpeg);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 50% 200px;
	top: 80%;
	margin-top: -90px;
}

#image-3 {
	position: absolute;
	width: 100%;
	height: 300px;
	background-image: url(../Images/square.jpeg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 50% 200px;
	top: 23%;
	margin-top: -90px;
}

#prod {
	background-color: #800000;
	color: #FFFFFF;
}

.img-thumb {
	width: auto;
	height: 200px;
}

#footer {
	margin-top: 50px;
}

img.details {
	width: 60%;
	margin: 15px auto;
}